/* Container styling */
.cs-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
  }
  
  /* Title styling */
  .cs-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px; /* Reduce space between the title and the dropdown */
    color: #547CF5;
  }
  
  /* Semester selection dropdown styling */
  .semester-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #547CF5;
    margin-bottom: 15px; /* Adjust space between the dropdown and the subjects */
  }
  
  .semester-selection label {
    margin-right: 25px;
  }
  
  .semester-selection select {
    padding: -2px;
    font-size: 1rem;
  }
  
  